#head .head-top {
  background-color: #eeeeee;
  overflow: hidden;
}
#head .head-top .head-top-left {
  margin-left: 50px;
  width: 30%;
}
#head .head-top .head-top-left ul {
  margin-top: 10px;
  width: 100%;
}
#head .head-top .head-top-left ul li {
  color: #c8c8c8;
  float: left;
  margin-bottom: 10px;
}
#head .head-top .head-top-left ul li a {
  line-height: 12px;
  color: #cc0000;
  margin: 10px;
}
#head .head-top .head-top-right {
  width: 45%;
}
#head .head-top .head-top-right ul {
  margin-top: 10px;
  width: 100%;
}
#head .head-top .head-top-right ul li {
  color: #cad3e1;
  float: left;
}
#head .head-top .head-top-right ul li a {
  line-height: 12px;
  color: #747474;
  margin-right: 10px;
  margin-left: 20px;
}
#head .head-top .head-top-right ul li a:hover {
  color: #cc0000;
}
#head .head-center {
  overflow: hidden;
  background-color: #f5f5f5;
  height: 110px;
}
#head .head-center .head-center-logo {
  width: 210px;
  margin-top: 10px;
  float: left;
}
#head .head-center .head-center-logo img {
  width: 174px;
  height: 80px;
}
#head .head-center .head-center-select {
  float: left;
}
#head .head-center .head-center-select .select {
  float: left;
  width: 794px;
  padding-top: 20px;
}
#head .head-center .head-center-select .select p {
  margin-left: 8px;
  display: inline;
  color: #747474;
}
#head .head-center .head-center-select .select span {
  display: block;
  float: left;
  margin-right: 22px;
}
#head .head-center .head-center-select .select span:hover > a {
  color: #cc0000;
}
#head .head-center .head-center-select .select span a {
  color: #747474;
}
#head .head-center .head-center-select .select .select-left {
  margin-left: 28px;
  display: block;
  width: 68px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #cc0000;
  border-radius: 19px 0 0 19px;
  border-right: 0;
  float: left;
  text-align: center;
  color: #747474;
}
#head .head-center .head-center-select .select input {
  outline: none;
  background-color: #f5f5f5;
  width: 450px;
  height: 36px;
  border: 1px solid #cc0000;
  border-left: #b7b7b7 1px solid;
  border-right: 0;
  float: left;
}
#head .head-center .head-center-select .select .select-right-border {
  float: left;
  border: 1px solid #cc0000;
  border-radius: 0 19px 19px 0;
  border-left: 0;
  border-right: 0;
}
#head .head-center .head-center-select .select .select-right-border .select-right {
  outline: none;
  display: block;
  line-height: 36px;
  border: 1px solid #cc0000;
  border-radius: 19px;
  text-align: center;
  width: 70px;
  height: 36px;
  float: left;
  background-color: #cc0000;
}
#head .head-center .head-center-select .select img {
  display: block;
  margin: 0 0 0 30px;
  width: 145px;
  height: 44px;
  float: left;
}
#head .head-center .head-center-buycar {
  margin-top: 20px;
  margin-right: 45px;
  width: 140px;
  height: 40px;
  float: right;
  border: #e5e5e5 1px solid;
  border-radius: 20px;
}
#head .head-center .head-center-buycar img {
  width: 26px;
  height: 24px;
  float: left;
  margin: 9px 0px 9px 16px;
}
#head .head-center .head-center-buycar .car {
  width: 80px;
  height: 22px;
  margin: 10px 0;
  float: right;
}
#head .head-center .head-center-buycar .car > span {
  float: left;
  line-height: 22px;
  display: block;
  color: #747474;
}
#head .head-bottom {
  height: 36px;
  background-color: #f5f5f5;
}
#head .head-bottom .head-nav {
  width: 142px;
  height: 36px;
  line-height: 36px;
  padding: 0 0 0 32px;
  background-color: #cc0000;
  float: left;
  position: relative;
}
#head .head-bottom .head-nav:hover > .banner-nav {
  display: block;
}
#head .head-bottom .head-nav .banner-nav {
  width: 174px;
  display: block;
  position: absolute;
  top: 36px;
  left: 0;
  z-index: 1000;
}
#head .head-bottom .head-nav .banner-nav > .wrapper {
  width: 174px;
}
#head .head-bottom .head-nav .banner-nav .nav {
  width: 174px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.55);
  position: relative;
}
#head .head-bottom .head-nav .banner-nav .nav > ul {
  padding-top: 4px;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li {
  width: 174px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 8px;
  float: left;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li:hover {
  background-color: #ffffff;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li:hover > p > a {
  color: #cc0000;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li:hover > p > span {
  color: #cc0000;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > p > a {
  margin-left: 35px;
  line-height: 34px;
  color: #ffffff;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > p > span {
  float: right;
  line-height: 34px;
  margin-right: 12px;
  color: #ffffff;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > .banner-nav2 {
  border: 1px #d3d3d3 solid;
  display: none;
  width: 740px;
  height: 448px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 174px;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > .banner-nav2 > ul {
  float: left;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > .banner-nav2 > ul > li {
  width: 718px;
  padding-top: 30px;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > .banner-nav2 > ul > li > span {
  display: block;
  line-height: 34px;
  height: 34px;
  float: right;
  color: #747474;
  font-size: 14px;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > .banner-nav2 > ul > li > span a {
  color: #747474;
  font-size: 14px;
  font-weight: 800;
  margin-right: 12px;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > .banner-nav2 > ul > li > span a:hover {
  color: #cc0000;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > .banner-nav2 > ul > li > ul {
  width: 458px;
  float: right;
  margin-right: 90px;
  margin-left: 34px;
  border-bottom: 1px #979797 dashed;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > .banner-nav2 > ul > li > ul > li {
  margin-right: 34px;
  line-height: 34px;
  font-size: 14px;
  height: 34px;
  float: left;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li:hover > .banner-nav2 {
  display: block;
}
#head .head-bottom .head-nav > a {
  color: #FFFFFF;
}
#head .head-bottom ul {
  margin-left: -8px;
  float: left;
}
#head .head-bottom ul > li {
  display: block;
  float: left;
  margin-left: 30px;
}
#head .head-bottom ul > li:hover a {
  color: #757575;
}
#head .head-bottom ul > li > a {
  display: block;
  color: #424242;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
}
#banner {
  height: 450px;
  width: 100%;
  background: url(../img/57b66f57-0168-44fd-b700-262fa4436a62.jpg) center 100% no-repeat;
}
#banner .banner {
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
}
#banner .imgBox ul {
  position: absolute;
  width: 600%;
  height: 450px;
}
#banner .imgBox li {
  float: left;
  width: 16.66666667%;
  height: 100%;
}
#banner .imgBox li span:nth-of-type(1) {
  display: block;
  background: url('https://gelimall.oss-cn-shenzhen.aliyuncs.com/album/2020/5/17/174b64de-9655-4999-94ec-edf835463b0c.jpg') no-repeat center;
  width: 100%;
  height: 100%;
  background-size: cover;
}
#banner .imgBox li:nth-of-type(2) span {
  background-image: url(https://gelimall.oss-cn-shenzhen.aliyuncs.com/album/2020/6/20/891ed7e1-1d18-418c-9d81-f30a32d0bfa1.jpg);
}
#banner .imgBox li:nth-of-type(3) span {
  background-image: url(https://gelimall.oss-cn-shenzhen.aliyuncs.com/album/2020/4/9/211ec53d-f389-4b23-b8db-58ea14227fa7.jpg);
}
#banner .imgBox li:nth-of-type(4) span {
  background-image: url(https://gelimall.oss-cn-shenzhen.aliyuncs.com/album/2020/4/10/7cc67fc8-b083-449d-a88c-ca7ce10b1fc7.jpg);
}
#banner .imgBox li:nth-of-type(5) span {
  background-image: url(https://gelimall.oss-cn-shenzhen.aliyuncs.com/album/2020/4/9/57b66f57-0168-44fd-b700-262fa4436a62.jpg);
}
#banner .ydBox {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  cursor: pointer;
}
#banner .ydBox li {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  background: transparent;
  float: left;
  border: 1px solid #999999;
}
#banner .ydBox .listLi {
  background: #fff;
}
#main {
  background-color: #f5f5f5;
}
#main .main-top {
  overflow: hidden;
}
#main .main-top p {
  font-size: 18px;
  margin: 14px 0;
  color: #757575;
}
#main .main-top > ul {
  overflow: hidden;
}
#main .main-top > ul > li {
  margin-right: 5px;
  float: left;
}
#main .main-top > ul > li img {
  width: 295px;
  height: 180px;
}
#main .main-top .mrjx1 {
  float: left;
}
#main .main-top .mrjx1 img {
  width: 300px;
  height: 570px;
  padding-right: 10px;
}
#main .main-top .mrjx2 {
  float: left;
}
#main .main-top .mrjx2 .top1 img {
  width: 590px;
  height: 280px;
  padding-bottom: 10px;
}
#main .main-top .mrjx2 .bottom1 {
  float: left;
}
#main .main-top .mrjx2 .bottom1 img {
  width: 290px;
  height: 280px;
  padding-right: 10px;
}
#main .main-top .mrjx2 .bottom2 {
  float: left;
}
#main .main-top .mrjx2 .bottom2 img {
  width: 290px;
  height: 280px;
  padding-right: 10px;
}
#main .main-top .mrjx3 {
  float: left;
}
#main .main-top .mrjx3 .top1 img {
  width: 290px;
  height: 280px;
  padding-bottom: 10px;
}
#main .main-top .mrjx3 .bottom1 {
  float: left;
}
#main .main-top .mrjx3 .bottom1 img {
  width: 290px;
  height: 280px;
  padding-bottom: 10px;
}
#main .main-center {
  text-align: center;
}
#main .main-center > ul > li {
  overflow: hidden;
}
#main .main-center > ul > li .F-head {
  margin: 26px 0 9px 0;
  overflow: hidden;
}
#main .main-center > ul > li .F-head > b {
  display: block;
  width: 40px;
  height: 26px;
  background-color: #f90002;
  color: #ffffff;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  margin-right: 16px;
  float: left;
}
#main .main-center > ul > li .F-head > span {
  margin-right: 12px;
  color: #747474;
  line-height: 26px;
  text-align: center;
  float: left;
}
#main .main-center > ul > li .F-head > ul {
  overflow: hidden;
  line-height: 26px;
  text-align: center;
  color: #747474;
  float: left;
}
#main .main-center > ul > li .F-head > ul > li {
  margin-right: 12px;
  padding-bottom: 2px;
  float: left;
}
#main .main-center > ul > li .F-head > ul > li:hover {
  color: #cc0000;
  padding-bottom: 0;
  border-bottom: 2px solid #cc0000;
}
#main .main-center > ul > li > u {
  display: block;
  height: 5px;
}
#main .main-center > ul > li > ul li {
  float: left;
}
#main .main-center > ul > li > ul .F-left img {
  width: 210px;
  height: 559px;
  margin-right: 10px;
  margin-bottom: 8px;
}
#main .main-center > ul > li > ul .F-center img {
  width: 347px;
  height: 559px;
  margin-right: 10px;
  margin-bottom: 8px;
}
#main .main-center > ul > li > ul .F-right li {
  width: 200px;
  height: 275px;
  background-color: #FFFFFF;
  margin: 0 7px 8px 0;
  overflow: hidden;
}
#main .main-center > ul > li > ul .F-right li:hover {
  box-shadow: 1px 1px 8px 3px lightgray;
}
#main .main-center > ul > li > ul .F-right li p {
  display: block;
  color: #3e3a39;
  width: 180px;
  line-height: 17px;
  font-size: 14px;
  margin: 6px 0 0;
  padding: 0 10px;
}
#main .main-center > ul > li > ul .F-right li span {
  display: block;
  width: 180px;
  color: #979797;
  height: 25px;
  font-size: 14px;
  margin: 2px 0 0;
  padding: 0 10px;
}
#main .main-center > ul > li > ul .F-right li i {
  font-size: 14px;
  font-weight: bold;
  display: block;
  width: 174px;
  line-height: 17px;
  color: #ff4d4f;
  margin: 6px 0 0;
  padding: 0 13px;
}
#main .main-center > ul > li > ul .F-right li img {
  font-size: 14px;
  width: 190px;
  height: 190px;
  padding: 5px;
}
#main .main-bottom {
  margin-top: 30px;
  padding-bottom: 26px;
}
#main .main-bottom img {
  width: 1200px;
  height: 418px;
}
#foot {
  background-color: #F5F5F5;
}
#foot .foot-top ul {
  border-bottom: 1px solid #dedede;
}
#foot .foot-top ul > li {
  width: 249px;
  height: 62px;
  padding: 0 25px;
  border-right: 1px solid #dedede;
}
#foot .foot-center ul {
  background-color: #FFFFFF;
  width: 960px;
  height: 140px;
  margin: 0 355;
  padding: 37px 90px 0 150px;
}
#foot .foot-center ul li {
  float: left;
}
#foot .foot-center ul dt {
  width: 150px;
  height: 35px;
  font-size: 14px;
  color: #525252;
  margin: 0 -15px 0 0;
  font-weight: bold;
}
#foot .foot-center ul dd {
  width: 150px;
  height: 26px;
  font-size: 12px;
  color: #b2b2b2;
  margin: 0 -15px 0 0;
}
#foot .foot-center ul dd a {
  color: #b2b2b2;
}
