#head .head-top {
  background-color: #eeeeee;
  overflow: hidden;
}
#head .head-top .head-top-left {
  margin-left: 50px;
  width: 30%;
}
#head .head-top .head-top-left ul {
  margin-top: 10px;
  width: 100%;
}
#head .head-top .head-top-left ul li {
  color: #c8c8c8;
  float: left;
  margin-bottom: 10px;
}
#head .head-top .head-top-left ul li a {
  line-height: 12px;
  color: #cc0000;
  margin: 10px;
}
#head .head-top .head-top-right {
  width: 45%;
}
#head .head-top .head-top-right ul {
  margin-top: 10px;
  width: 100%;
}
#head .head-top .head-top-right ul li {
  color: #cad3e1;
  float: left;
}
#head .head-top .head-top-right ul li a {
  line-height: 12px;
  color: #747474;
  margin-right: 10px;
  margin-left: 20px;
}
#head .head-top .head-top-right ul li a:hover {
  color: #cc0000;
}
#head .head-center {
  overflow: hidden;
  background-color: #f5f5f5;
  height: 110px;
}
#head .head-center .head-center-logo {
  width: 210px;
  margin-top: 10px;
  float: left;
}
#head .head-center .head-center-logo img {
  width: 174px;
  height: 80px;
}
#head .head-center .head-center-select {
  float: left;
}
#head .head-center .head-center-select .select {
  float: left;
  width: 794px;
  padding-top: 20px;
}
#head .head-center .head-center-select .select p {
  margin-left: 8px;
  display: inline;
  color: #747474;
}
#head .head-center .head-center-select .select span {
  display: block;
  float: left;
  margin-right: 22px;
}
#head .head-center .head-center-select .select span:hover > a {
  color: #cc0000;
}
#head .head-center .head-center-select .select span a {
  color: #747474;
}
#head .head-center .head-center-select .select .select-left {
  margin-left: 28px;
  display: block;
  width: 68px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #cc0000;
  border-radius: 19px 0 0 19px;
  border-right: 0;
  float: left;
  text-align: center;
  color: #747474;
}
#head .head-center .head-center-select .select input {
  outline: none;
  background-color: #f5f5f5;
  width: 450px;
  height: 36px;
  border: 1px solid #cc0000;
  border-left: #b7b7b7 1px solid;
  border-right: 0;
  float: left;
}
#head .head-center .head-center-select .select .select-right-border {
  float: left;
  border: 1px solid #cc0000;
  border-radius: 0 19px 19px 0;
  border-left: 0;
  border-right: 0;
}
#head .head-center .head-center-select .select .select-right-border .select-right {
  outline: none;
  display: block;
  line-height: 36px;
  border: 1px solid #cc0000;
  border-radius: 19px;
  text-align: center;
  width: 70px;
  height: 36px;
  float: left;
  background-color: #cc0000;
}
#head .head-center .head-center-select .select img {
  display: block;
  margin: 0 0 0 30px;
  width: 145px;
  height: 44px;
  float: left;
}
#head .head-center .head-center-buycar {
  margin-top: 20px;
  margin-right: 45px;
  width: 140px;
  height: 40px;
  float: right;
  border: #e5e5e5 1px solid;
  border-radius: 20px;
}
#head .head-center .head-center-buycar img {
  width: 26px;
  height: 24px;
  float: left;
  margin: 9px 0px 9px 16px;
}
#head .head-center .head-center-buycar .car {
  width: 80px;
  height: 22px;
  margin: 10px 0;
  float: right;
}
#head .head-center .head-center-buycar .car > span {
  float: left;
  line-height: 22px;
  display: block;
  color: #747474;
}
#head .head-bottom {
  height: 36px;
  background-color: #f5f5f5;
}
#head .head-bottom .head-nav {
  width: 142px;
  height: 36px;
  line-height: 36px;
  padding: 0 0 0 32px;
  background-color: #cc0000;
  float: left;
  position: relative;
}
#head .head-bottom .head-nav:hover > .banner-nav {
  display: block;
}
#head .head-bottom .head-nav .banner-nav {
  display: none;
  position: absolute;
  top: 36px;
  left: 0;
}
#head .head-bottom .head-nav .banner-nav .nav {
  width: 174px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.55);
  position: relative;
}
#head .head-bottom .head-nav .banner-nav .nav > ul {
  padding-top: 4px;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li {
  width: 174px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 8px;
  float: left;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li:hover {
  background-color: #ffffff;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li:hover > p > a {
  color: #cc0000;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li:hover > p > span {
  color: #cc0000;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > p > a {
  margin-left: 35px;
  line-height: 34px;
  color: #ffffff;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > p > span {
  float: right;
  line-height: 34px;
  margin-right: 12px;
  color: #ffffff;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > .banner-nav2 {
  border: 1px #d3d3d3 solid;
  display: none;
  width: 740px;
  height: 448px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 174px;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > .banner-nav2 > ul {
  float: left;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > .banner-nav2 > ul > li {
  width: 740px;
  height: 33px;
  padding-top: 30px;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > .banner-nav2 > ul > li > span {
  display: block;
  line-height: 34px;
  height: 34px;
  float: right;
  color: #747474;
  font-size: 14px;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > .banner-nav2 > ul > li > span a {
  color: #747474;
  font-size: 14px;
  font-weight: 800;
  margin-right: 12px;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > .banner-nav2 > ul > li > span a:hover {
  color: #cc0000;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > .banner-nav2 > ul > li > ul {
  width: 488px;
  float: right;
  margin-right: 90px;
  margin-left: 34px;
  border-bottom: 1px #979797 dashed;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li > .banner-nav2 > ul > li > ul > li {
  margin-right: 34px;
  line-height: 34px;
  font-size: 14px;
  height: 34px;
  float: left;
}
#head .head-bottom .head-nav .banner-nav .nav > ul > li:hover > .banner-nav2 {
  display: block;
}
#head .head-bottom .head-nav > a {
  color: #FFFFFF;
}
#head .head-bottom ul {
  margin-left: -8px;
  float: left;
}
#head .head-bottom ul > li {
  display: block;
  height: 36px;
  float: left;
  margin-left: 30px;
}
#head .head-bottom ul > li:hover a {
  color: #757575;
}
#head .head-bottom ul > li > a {
  display: block;
  color: #424242;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
}
#main .menu {
  display: none;
}
#main .nav-list:hover .menu {
  display: block;
}
#main #xq {
  position: relative;
  background: #fff;
}
#main #xq #xq-c {
  border: 1px solid #E8E8E8;
  height: 770px;
  margin: 20px 0;
  padding: 30px;
  box-sizing: border-box;
}
#main .xq_title {
  font-size: 12px;
  height: 50px;
  line-height: 50px;
}
#main .xq_title a {
  color: #747474;
}
#main .xq_title a:hover {
  color: #cc0000;
}
#main .xq_title span {
  font-size: 16px;
}
#main #spic {
  cursor: move;
  position: relative;
}
#main #spic img {
  width: 398px;
  height: 398px;
}
#main #spic #sf {
  width: 235px;
  height: 210px;
  background: gray;
  opacity: 0.3;
  position: absolute;
  left: 0x;
  top: 0;
  visibility: hidden;
}
#main #bf {
  position: absolute;
  left: 440px;
  top: 80px;
  border: 1px solid #9999;
  overflow: hidden;
  visibility: hidden;
  z-index: 5;
}
#main #bf #bpic {
  position: absolute;
  width: 800px;
  height: 800px;
}
#main #ulist {
  position: absolute;
  left: 30px;
  top: 490px;
  width: 400px;
  height: 90px;
  overflow: hidden;
  cursor: pointer;
}
#main #ulist a {
  float: left;
  display: block;
  width: 15px;
  line-height: 90px;
  text-align: center;
}
#main #ulist #list {
  float: left;
  width: 360px;
  height: 90px;
  position: relative;
  overflow: hidden;
  margin: 0 4px;
}
#main #ulist ul {
  position: absolute;
  width: 450px;
  left: 0px;
  top: 0px;
}
#main #ulist li {
  float: left;
  width: 90px;
  height: 90px;
}
#main #ulist li:hover {
  box-sizing: border-box;
  border: 2px solid #cc0000;
}
#main #ulist img {
  width: 100%;
  height: 100%;
}
#main .xq_r {
  float: right;
  width: 700px;
  min-height: 510px;
  margin-left: 10px;
  position: relative;
}
#main .xq_r .mid_con h1 {
  font-size: 18px;
  width: 450px;
  margin-left: 30px;
  line-height: 30px;
  font-weight: bold;
}
#main .xq_r .mid_con p {
  display: block;
  width: 430px;
  font-size: 12px;
  margin-left: 30px;
  color: #cc0000;
}
#main .xq_r .mid_con dt {
  float: left;
  width: 90px;
  height: 35px;
  line-height: 35px;
  text-align: right;
  font-size: 12px;
}
#main .xq_r .mid_con dd {
  float: left;
  margin-right: 10px;
  font-size: 12px;
  color: #747474;
  line-height: 35px;
}
#main .xq_r .mid_con .pri {
  color: #cc0000;
  font-size: 18px;
  font-weight: bold;
}
#main .xq_r .mid_con .icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(https://mall.gree.com/assets/images/star-on-big.png) no-repeat center;
  background-size: 100% 100%;
}
#main .xq_r .mid_con .color {
  padding-left: 5px;
  padding-right: 5px;
  min-width: 80px;
  text-align: center;
  line-height: 35px;
  border: 2px solid #E50011;
  cursor: pointer;
}
#main .xq_r .jj {
  margin-top: 5px;
}
#main .xq_r .jj a {
  float: left;
  display: block;
  width: 22px;
  height: 22px;
  text-align: center;
  font-weight: bold;
  line-height: 22px;
  background: #f7f7f7;
  border: 1px solid #E8E8E8;
}
#main .xq_r .jj a:hover {
  color: #cc0000;
}
#main .xq_r .jj input {
  display: block;
  width: 28px;
  float: left;
  text-align: center;
  height: 20px;
  background: #fff;
  line-height: 20px;
  overflow: hidden;
  border: 1px solid #E8E8E8;
}
#main .xq_r .mid_gm span {
  background: #cc0000;
  display: block;
  width: 150px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  border-radius: 2px;
  float: left;
  margin: 0px 10px 10px 30px;
}
#main .xq_r .mid_gm .icon-gouwuche1 {
  font-size: 20px;
  margin-right: 10px;
}
#main .xq_r .mid_gm em {
  float: left;
  display: block;
  width: 150px;
  height: 36px;
  line-height: 38px;
  background-color: #ffeded;
  border: 1px solid #c40000;
  color: #c40000;
  font-size: 16px;
  border-radius: 2px;
  text-align: center;
}
#main #tk_box {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.3);
  display: none;
  z-index: 10;
}
#main #tk_box div {
  width: 555px;
  min-height: 105px;
  border: 5px solid #e8e8e8;
  background-color: #FFF;
  padding: 10px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 26;
  transform: translate(-50%, -50%);
  text-align: center;
}
#main #tk_box div h6 {
  height: 50px;
  line-height: 50px;
  font-size: 24px;
}
#main #tk_box div p a {
  display: inline-block;
  width: 200px;
  line-height: 50px;
  background: #cc0000;
  font-size: 20px;
  margin-right: 10px;
  border-radius: 2px;
  color: #e8e8e8;
}
#main .r_box {
  width: 225px;
  height: auto;
  position: absolute;
  top: 0px;
  right: 10px;
  float: right;
  background: #fff;
  border: 1px solid #E8E8E8;
}
#main .r_box h3 {
  width: 215px;
  height: 30px;
  font-size: 14px;
  border-bottom: 1px solid #e8e8e8;
  line-height: 30px;
  padding-left: 15px;
  background: #fafafa;
}
#main .r_box .r_pf {
  border-bottom: 1px solid #e8e8e8;
}
#main .r_box dl {
  margin: 5px 0;
  font-size: 12px;
}
#main .r_box dl dd {
  float: left;
}
#main .r_box dl dt {
  float: left;
  width: 80px;
  height: 20px;
  line-height: 20px;
  text-align: right;
}
#main .r_box .icon1 {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background: url(https://mall.gree.com/assets/images/heart-on-big.png) no-repeat center;
  background-size: 100% 100%;
}
#main .r_box .icon1:nth-of-type(5) {
  background-image: url(https://mall.gree.com/assets/images/heart-half-big.png);
}
#main .r_box .icon2 {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(https://mall.gree.com/assets/images/star-on-big.png) no-repeat center;
  background-size: 100% 100%;
}
#main .r_box .icon3 {
  @extend .icon2;
  background: url(https://mall.gree.com/assets/images/star-half-big.png) no-repeat center;
}
#main .r_box .pf_num {
  margin-left: 15px;
  color: #cc0000;
}
#main .r_box .r_gsxx p {
  padding: 10px;
  font-size: 12px;
}
#main .r_box .r_gsxx p img {
  margin-left: 20px;
  width: 160px;
  height: 80px;
}
#main .r_box .r_gsxx p a {
  margin-left: 20px;
  color: #cc0000;
}
#main .r_box .r_gsxx dl {
  margin: 8px 0;
}
#main .r_box .r_gsxx .gsxx_ip {
  width: 135px;
  text-align: center;
  word-wrap: break-word;
}
#main .r_box .r_gsxx .gsxx_p {
  color: #fe8500;
  font-size: 14px;
}
#foot {
  background-color: #F5F5F5;
}
#foot .foot-center ul {
  background-color: #FFFFFF;
  width: 960px;
  height: 140px;
  margin: 0 355;
  padding: 37px 90px 0 150px;
}
#foot .foot-center ul li {
  float: left;
}
#foot .foot-center ul dt {
  width: 150px;
  height: 35px;
  font-size: 14px;
  color: #525252;
  margin: 0 -15px 0 0;
  font-weight: bold;
}
#foot .foot-center ul dd {
  width: 150px;
  height: 26px;
  font-size: 12px;
  color: #b2b2b2;
  margin: 0 -15px 0 0;
}
#foot .foot-center ul dd a {
  color: #b2b2b2;
}
