body {
  background-color: #F5F5F5;
}
#head .head-top {
  background-color: #eeeeee;
  overflow: hidden;
}
#head .head-top .head-top-left {
  margin-left: 50px;
  width: 30%;
}
#head .head-top .head-top-left ul {
  margin-top: 10px;
  width: 100%;
}
#head .head-top .head-top-left ul li {
  color: #c8c8c8;
  float: left;
  margin-bottom: 10px;
}
#head .head-top .head-top-left ul li a {
  line-height: 12px;
  color: #cc0000;
  margin: 10px;
}
#head .head-top .head-top-right {
  width: 42%;
}
#head .head-top .head-top-right ul {
  margin-top: 10px;
  width: 100%;
}
#head .head-top .head-top-right ul li {
  color: #cad3e1;
  float: left;
}
#head .head-top .head-top-right ul li a {
  line-height: 12px;
  color: #747474;
  margin-right: 10px;
  margin-left: 20px;
}
#head .head-top .head-top-right ul li a:hover {
  color: #cc0000;
}
#banner {
  background-color: #F5F5F5;
  border-bottom: 1px solid #dedede;
}
#banner .wrapper {
  height: 110px;
  background-color: #FFFFFF;
}
#banner .wrapper .banner-left {
  width: 210px;
  height: 80px;
  padding-top: 10px;
  float: left;
}
#banner .wrapper .banner-left img {
  width: 173px;
  height: 80px;
}
#banner .wrapper .banner-right i {
  color: #747474;
  font-size: 24px;
  margin-right: 16px;
  line-height: 100px;
}
#main {
  background-color: #F5F5F5;
}
#main main {
  width: 980px;
  height: 410px;
  margin: 15px auto;
  background: #fff;
}
#main main .main_left {
  width: 500px;
  height: 380px;
  margin: 10px 30px;
}
#main main .main_left img {
  width: 500px;
  height: 380px;
}
#main main .main_right {
  width: 380px;
  height: 380px;
  margin: 10px 0px 0px 10px;
  padding-top: 20px;
}
#main form {
  width: 270px;
  padding-top: 40px;
}
#main form li {
  margin-bottom: 20px;
  position: relative;
}
#main form li .icon-suo {
  position: absolute;
  font-size: 20px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
#main form li .icon-denglu1 {
  position: absolute;
  font-size: 20px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
#main form li a {
  font-size: 12px;
  color: #747474;
  margin-right: 20px;
}
#main form li a .iconfont {
  font-size: 16px;
}
#main form li a:hover span {
  color: #cc0000;
}
#main form li a .icon-qq {
  color: blue;
}
#main form li a .icon-3-copy {
  color: green;
}
#main form li:nth-of-type(3) {
  margin-bottom: 5px;
}
#main form input {
  width: 100%;
  box-sizing: border-box;
  color: #474747;
  height: 35px;
  line-height: 35px;
  padding-left: 15px;
  border: 1px solid #e8e8e8;
  background: #fff;
  border-radius: 2px;
  font-size: 14px;
}
#main form .btn {
  width: 100%;
  height: 35px;
  border: 0;
  background: #cc0000;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}
#main form p a {
  font-size: 12px;
}
#main form p a:link {
  color: #cc0000;
}
#main form p a:nth-last-child(1) {
  float: right;
}
#foot {
  background-color: #F5F5F5;
}
#foot .foot-center ul {
  background-color: #FFFFFF;
  width: 960px;
  height: 140px;
  margin: 0 355;
  padding: 37px 90px 0 150px;
}
#foot .foot-center ul li {
  float: left;
}
#foot .foot-center ul dt {
  width: 150px;
  height: 35px;
  font-size: 14px;
  color: #525252;
  margin: 0 -15px 0 0;
  font-weight: bold;
}
#foot .foot-center ul dd {
  width: 150px;
  height: 26px;
  font-size: 12px;
  color: #b2b2b2;
  margin: 0 -15px 0 0;
}
#foot .foot-center ul dd a {
  color: #b2b2b2;
}
