*{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
h2{
  display: block;
  height: 62px;
  font-size: 21px;
  color: #333333;
  line-height: 62px;
}
input{
  text-decoration: none;
}
a,u,del{text-decoration: none;}
li{list-style: none;}
body,a{font:12px "微软雅黑"}
img{display: block;}
i,b,strong,em{font-style:normal;font-weight:normal}
.clear:after{content:"";clear:both;display:block;height:0;overflow:hidden}
.wrapper{margin:0 auto;width: 1200px;}
.hover:hover{opacity: 0.7;}
.hover2:hover{box-shadow: 1px 1px 8px 3px lightgray;}
a{color: #337ab7;}
.left{float: left;}
.right{float: right;}
/* 清除浮动 */
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  display: block;
  content: "\200B";
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}